h1, h2, h3 {
    color: #023648;
    font-weight: normal;
}

fieldset {
    border: none !important;
}

.gray-background {
    background-color: #f8f8f8;
    border-radius: 5px;
}
.gd_card {
    box-shadow: unset !important;
    /*border: 1px solid;
    border-color: #1A93BD !important;
    border-radius: 7px;*/

    .v-card__title {
        background-color: #1A93BD;
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 16px;
    }
}

.divider {
    background-color: #1a93bd !important;
    border-width: thin;
    margin: 15px 0;
}

.gd_card_border {
    border: 1px solid;
    border-color: #1A93BD !important;
    border-radius: 7px;
}

.apexcharts-toolbar {
    z-index: 3 !important;
}

.search-bar-block {
    div:not(:last-child) {
        margin-right: 5px;
    }

    .v-btn:not(:last-child) {
        margin-right: 5px;
    }

    justify-content: flex-end;
}

.fm-select,
.fm-input {
    max-height: 34px;
    padding-top: 0;
    padding-left: 10px;
    margin-top: 0;
    border: 1px solid #1a93bd;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 15px;

    .v-input__slot:before {
        border-color: unset !important;
        border-style: unset !important;
    }

    .v-label {
        display: none;
    }
}
.fm-uploader{
    max-height: 34px;
    padding-top: 0;
    margin-top: 0;
    max-width: 392px;
    border: 1px solid #1a93bd;
    box-sizing: border-box;
    border-radius: 5px;

    .v-input__slot:before {
        border-color: unset !important;
        border-style: unset !important;
    }
}
.primary-text-color{
    color:  #1a93bd !important;
}
.fm-textarea {
    padding-top: 0;
    margin-top: 0;
    border: 1px solid #1a93bd;
    box-sizing: border-box;
    border-radius: 5px;

    .v-input__control {
        height: 100%;
    }

    .v-input__control:before {
        border-color: unset !important;
        border-style: unset !important;
    }

    .v-label {
        display: none;
    }
}

.search-bar-block {
    .fm-select,
    .fm-input {
        max-width: 200px !important;
    }
}

.fm-button-primary {
    background-color: #1a93bd !important;
    border: 1px solid #1a93bd;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: unset;
    height: 34px !important;
    color: #fff !important;
    text-transform: none;
}

.fm-button-grey {
    background-color: #e5e5e5 !important;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: unset;
    height: 34px !important;
    text-transform: none;
}

.fm-button-white {
    background: #ffffff;
    border: 1px solid #1a93bd !important;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: unset;
    height: 34px !important;
    text-transform: none;
}

.checkbox_text_block {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 45px;
    border: 1px solid #EEEEEE;
    font-family: Arial;
    font-size: 9px;
    text-align: center;
    background-color: #EEEEEE;
    border-radius: 8px;
    color: #979797;
}

.fm-label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: #000;
}

.fm-radio-group {
    .v-input--radio-group__input {
        justify-content: center;
        .v-label {
            color: #000;
        }
    }
}

.fm-card-dialog {
    border: 1px solid #1a93bd !important;
}

.alert-visibility {
    visibility: hidden !important;
}

.nav-bar-icons{
  color: #ffffff !important;
}
.green-background{
    background-color: #1d643b;
}
.yellow-background{
    background-color: yellow;
}
.red-background{
    background-color: red;
}
.fm-table-entries{
    .v-select__selections{
        min-width: unset;
    }
}
.color-table-block{
    display: block;
    height: 100%;
    line-height: 60px;
    margin: 0 -16px;
}


.theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    background-color: #e9ecef;
}

.v-list-item {
    min-height: 25px;
}

.hidden-file-input {
    display: none;
}

.static-th-width{
    td{
        width: 100%;
        max-width: 118px;
    }
}
.static-claims-th-width{
    td{
        width: 100%;
        max-width: 144px;
    }
}

.fm-input{
    .v-input__prepend-outer{
        margin-top: 6px !important;
    }
    .v-input__slot{
        background: unset !important;
    }
    .v-text-field__suffix{
        padding-right: 35px !important;
    }
}
